:host {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  --plot-item-margin: 10px;
}

#statistics-row-container {
  position: relative;
  width: 100%;
}

#header-text {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.statistics-row {
  cursor: pointer;
  position: absolute;
  width: calc(100% - 4px);
}

.plot-item {
  position: absolute;
  top: 50%;
  transform: translate(var(--plot-item-margin), -100%);
  width: calc(100% - var(--plot-item-margin) * 2);
  height: 10px;
}