:host {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  
  --axis-text-font-size: unset;
  --ribbon-highlight-opacity: unset;
}

#main-container {
  width: 100%;
  height: 100%;
}

#texture-container {
  position: absolute;
  width: 0;
  height: 0;
}

.axis-header-text {
  cursor: pointer;
}

#axis-footer-container {
  position: absolute;
  bottom: 0;
}

.axis-footer-text {
  cursor: default;
}

.axis-segment-box {
  cursor: pointer;
  opacity: 0;
}

.axis-segment-box:hover {
  opacity: .5;
}

.axis-segment-text {
  font-size: var(--axis-text-font-size);
  pointer-events: none;
}

.ribbon {
  cursor: pointer;
}

.ribbon.highlight {
  opacity: var(--ribbon-highlight-opacity);
}
